<div id="<%%= dom_id <%= singular %> %>">
  <p>
    <strong>Name:</strong>
    <%%= <%= singular %>.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%%= <%= singular %>.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%%= <%= singular %>.password %>
  </p>

</div>
